body {
    font-family: $font-family-standard;
    line-height: 140%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-serif;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3,
h4,
h5 {
    margin-bottom: 0em;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 130%;
}

h4 {
    font-size: 100%;
    color: #626262;
}

h5 {
    font-size: 85%;
    color: hsla(220, 100%, 59%, 0.7);
}

h6 {
    font-size: 75%;
    color: hsla(220, 100%, 59%, 0.7);
}

p {
    font-family: 'Karla';
    color: $bunker;
    max-width: 30em;
    padding-left: 1em;
    /* 0.938em-1.563 / 15px-25px */
    font-size: 0.938em;
    /* 120%-145% */
    line-height: 140%;
}

.initial {
    float: left;
    padding: 2px 7px 0 0;
    /* check line height */
    font-size: 335%;
    font-weight: bold;
    line-height: 1;
}

p+p {
    text-indent: 1em;
    margin: 0;
}

h2+p {
    text-indent: 0;
}

h1 {
    font-size: 1.5rem;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 2rem;
    }
}

strong {
    font-weight: 900;
}

em {
    font-style: italic;
}

s {
    text-decoration: line-through;
}

blockquote {
    font-style: italic;
}

ol {
    list-style-type: upper-roman;
}

ul {
    list-style-type: circle;
}