.adminaside {
    grid-area: aside;
    background-color: $bunker;
}

.adminaside__list {
    position: relative;
}

.adminaside__list-item {
    padding: 1rem 0.5rem;
    display: block;
    border-top: 1px solid rgba($black-haze, 0.3);
}