.admin__article {
    padding: 1rem;
}

.admin__header {
    padding: 1rem 0;
    font-size: 26px;
}

.admin__button {
    display: inline-block;
    font-size: 18px;
    border: 2px solid $blue;
    background-color: $black-haze;
    padding: 0.5rem;
}

.blogposts {
    width: 100%;
}

.blogposts th {
    text-align: left;
}

.blogpost td {
    padding: 1rem 0;
    border-bottom: 1px solid $black-haze;
}