.admin {
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-template-areas: "aside article"
}

.adminaside {
    grid-area: aside;
    background-color: $bunker;
}

.adminaside__nav {
    list-style: none;
    &:hover {
        background-color: $blue;
    }
}

.adminaside__nav a {
    padding: 1rem 0.5rem;
    display: block;
    text-decoration: none;
    color: $black-haze;
}

.admin__article {
    grid-area: article;
}

.blogpost {
    padding: 1rem;
}