.admin {
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-template-areas: "aside article"
}

.admin__header {
    margin-top: 0;
    font-size: 40px;
    margin: 0 0 35px 0;
}

.admin__articles {
    padding: 1rem;
    grid-area: article;
    @include clearfix;
}

.admin__article-setting+.admin__article-setting {
    margin-left: 40px;
}

.admin__article {
    position: relative;
}

.admin__article+.admin__article {
    margin-top: 20px;
    border-top: 1px solid $bunker;
}

.admin__article-setting {
    float: left;
}

.admin__button {
    display: inline-block;
    font-size: 18px;
    padding: 0.5rem;
}

.admin__text {
    padding-top: 10px;
    padding-left: 0;
}

.admin__text:not(:last-of-type) {
    margin-bottom: 20px;
}

.admin__media-form {
    margin-bottom: 20px;
}

.admin__image {
    cursor: pointer;
    &:hover {
        opacity: .5;
    }
}

.admin__image--small {
    height: 100px;
    width: auto;
    max-width: 300px;
}

.admin__media-input-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.admin__media-input--button {
    position: absolute;
    margin-left: 15px;
}

.admin__media-input--hidden {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    opacity: 0;
    transition: opacity 200ms ease-in;
    &:hover {
        opacity: 1;
        background-color: $blue;
        color: $black-haze;
    }
}

.admin-form__list {
    list-style-type: none;
}

.admin-form__submit {
    font-family: $font-family-serif;
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 5px;
    font-size: 30px;
    border: none;
    border-bottom: 4px solid $blue;
    font-weight: bold;
    cursor: pointer;
    transition: border 200ms ease-in;
    &:hover {
        color: $blue;
        border-bottom: 4px solid transparent;
    }
}