.formtoolbar {
    padding: 2px;
    display: flex;
    background-color: $black-haze;
    border: 1px solid;
    border-color: rgba(0, 0, 255, 0.15);
    // box-shadow: 0 2px 5px $bunker;
}

.formtoolbar__modifier {}

.formtoolbar__modifier a {
    cursor: pointer;
    font-size: 90%;
    padding: .5rem;
    display: block;
    border: 1px solid $black-haze;
    text-decoration: none;
    &:hover {
        border: 1px solid $bunker;
    }
}

.formtoolbar__modifier--bold {
    font-weight: bold;
}

.formtoolbar__modifier--italic {
    font-style: italic;
}