nav {
    .responsive {}
    @media (min-width: 500px) {
        grid-area: nav;
        border: 1px yellow solid;
        ul {
            display: flex;
            justify-content: space-between;
        }
    }
}